<til-navbar></til-navbar>

<!-- Showcase -->
<section class="showcase">
  <div class="container grid">
    <div class="showcase-form">
      <!-- <h2>Request a Demo</h2> -->
      <div>
        <img src="../../assets/images/lars.jpg" alt="" />
      </div>
      <h1>Lars Gyrup Brink Nielsen</h1>
      <p>
        Co-Founder @Thisis_Learning @aarhusjs ✍️ Writer, Speaker, FOSS Maintainer 🏆 Microsoft MVP 🌟 GitHub Star 📗
        Author of Accelerating Angular Development with Ivy
      </p>
    </div>
    <div class="showcase-text">
      <h1>This is Learning</h1>
      <h1>Free, open and honest software education.</h1>
      <p style="text-align: justify;">
        Inclusive software development publication free from conflict of interest. This publication is all about sharing
        software development knowledge for free and not at all about money or KPIs. Cross-posts are welcome.
      </p>
    </div>
    <div class="showcase-form santosh">
      <!-- <h2>Request a Demo</h2> -->
      <div>
        <img src="../../assets/images/santosh.jpg" alt="" />
      </div>
      <h1>Santosh Yadav</h1>
      <p>GoogleDevExpert,github 🌟, OSS Advocate 🥑 @Auth0 Ambassador Co-Founder @Thisis_Learning</p>
    </div>
  </div>
</section>

<!-- Stats -->
<section class="stats">
  <div class="container">
    <h2 class="text-center my-2">
      <div class="title">Free Resources</div>
    </h2>
    <div class="grid grid-resource text-center my-4">
      <div class="card">
        <h2><a target="blank" href="https://dev.to/this-is-learning"> This is Learning on dev.to</a></h2>
        <i class="fab fa-brands fa-dev fa-2x"></i>
        <h4>
          An open community for content creators in the tech space. Anyone can join, anyone can publish. Join to
          cross-post your content for better discoverability or publish unique pieces with our community of writers and
          readers.
        </h4>
      </div>

      <div class="card">
        <h2><a target="blank" href="https://twitter.com/Thisis_Learning"> This is Learning Twitter</a></h2>
        <i class="fab fa-twitter fa-2x"></i>
        <h4>
          Follow on twitter for Free, open and honest software education. Inclusive software development publication
          free from conflict of interest
        </h4>
      </div>
      <div class="card">
        <h2>
          <a target="blank" href="https://www.getrevue.co/profile/thisislearning?via=twitter-profile">
            This is Learning Newsletter</a
          >
        </h2>
        <i class="fa fa-file fa-2x"></i>
        <h4>
          Subscribe to our newsletter , A newsletter that helps you discover useful content from our catalogue of free,
          open, and honest software education.
        </h4>
      </div>
      <div class="card">
        <h2><a target="blank" href="https://twitter.com/Thisis_Angular"> This is Learning Angular(Twitter)</a></h2>
        <i class="fab fa-angular fa-2x"></i>
        <h4>
          Follow on twitter for Free, open and honest Angular education. Inclusive Angular publication free from
          conflict of interest.
        </h4>
      </div>
      <div class="card">
        <h2><a target="blank" href="https://dev.to/this-is-angular"> This is Learning Angular(DEV)</a></h2>

        <h4 style="color: white">
          An open community for content creators in the Angular (<i class="fab fa-angular fa-1x"></i>) ecosystem. Anyone
          can join, anyone can publish. Join to cross-post your content for better discoverability or publish unique
          pieces with our community of writers and readers.
        </h4>
      </div>
      <div class="card">
        <h2>
          <a target="blank" href="https://this-is-learning.github.io/rxjs-fundamentals-course/">
            <img src="https://rxjs.dev/assets/images/logos/logo.png" alt="" style="width: 136px; display: inherit" />
            Fundamentals
          </a>
        </h2>

        <h4 style="color: white">
          RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or
          callback-based code. This project is a rewrite of Reactive-Extensions/RxJS with better performance, better
          modularity, better debuggable call stacks, while staying mostly backwards compatible, with some breaking
          changes that reduce the API surface
        </h4>
      </div>

      <div class="card">
        <h2>
          <a target="blank" href="https://this-is-angular.github.io/ngrx-essentials-course/">
            <img src="https://ngrx.io/assets/images/badge.svg" alt="" style="width: 57px; display: inherit" />NgRx
            Essentials
          </a>
        </h2>

        <h4 style="color: white">
          NgRx Store provides reactive state management for Angular apps inspired by Redux. Unify the events in your
          application and derive state using RxJS.
        </h4>
      </div>
      <div class="card">
        <h2><a target="blank" href="https://www.youtube.com/c/ThisisTechTalks"> This is Tech Talks</a></h2>
        <i class="fa fa-video fa-2x"></i>
        <h4>
          In this talk show, we will have some awesome developers, talking/sharing some great content from the
          programming language they work on. We will discuss new features/tools/changes to the technology you love and
          follow.
        </h4>
      </div>
      <div class="card">
        <h2><a target="blank" href="https://github.com/this-is-learning"> This is Learning </a></h2>
        <i class="fab fa-github fa-2x"></i>
        <h4>
          Any kind of contribution welcomes ,We appreciate your time and effort to help others to provide free, open and
          honest software education.
        </h4>
      </div>
      <div class="card">
        <h2><a target="blank" href="https://discord.gg/WquDAakwkK"> This is Learning-Discord</a></h2>
        <i class="fab fa-discord fa-2x"></i>
        <h4>Join Our Discord server for sharing some great content from the programming language.</h4>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer bg-dark py-5">
  <div class="container grid grid-3">
    <div>
      <h1>© 2022 This is Learning. Licensed under CC BY-SA 4.0.</h1>
    </div>
    <div class="social">
      <a target="blank" href="https://github.com/this-is-learning"><i class="fab fa-github fa-2x"></i></a>

      <a target="blank" href="https://twitter.com/Thisis_Learning"><i class="fab fa-twitter fa-2x"></i></a>
      <a target="blank" href="https://discord.gg/WquDAakwkK">
        <i class="fab fa-discord fa-2x"></i>
      </a>
    </div>
  </div>
</footer>
